<h1>Lista de productos</h1>
<h2>Bienvenido {{user.email}}</h2>
<p>Rol: {{user.role}}</>
<p>Nombre: {{user.first_name}}</>
<p>Apellido: {{user.last_name}}</p>
{{#each products}}
  <div class="divProducto">
    <h2>Producto: {{this.title}}</h2>
    <p>ID Producto: {{this._id}}</p>
    <p>Descripcion: {{this.description}} </p>
    <p>Precio: ${{this.price}} </p>
    <p>Categoria: {{this.category}} </p>
    <p>Stock: {{this.stock}} </p>
    <img src="{{this.thumbnail}}" alt="" />
  </div>
{{/each}}
<a href="/login"><h2>Volver al login</h2></a>