
<h1>Bienvenido {{user.first_name}}</h1>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Rol: {{user.role}}</p>
<h1>LISTA DE PRODUCTOS</h1>
{{#each products}}
  <div class="divProducto">
    <h2>{{this.title}}</h2>
    <p> Id: {{this._id}}</p>
    <p> Descripcion: {{this.description}} </p>
    <p> Precio: {{this.price}} </p>
    <p> Categoria: {{this.category}} </p>
    <p> Stock: {{this.stock}} </p>
    <img src= "{{this.thumbnail}}" alt="" />
    <button class="btn-addCart" data-product-id="{{this._id}}">Agregar al carrito</button>
    <a href="/product/{{this._id}}">Ver detalles</a>
  </div>
{{/each}}